@import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);

ul.lst-kix_list_1-0 {
  list-style-type: none
}

ul.lst-kix_list_9-3 {
  list-style-type: none
}

ul.lst-kix_list_9-4 {
  list-style-type: none
}

ul.lst-kix_list_9-1 {
  list-style-type: none
}

ul.lst-kix_list_9-2 {
  list-style-type: none
}

ul.lst-kix_list_9-7 {
  list-style-type: none
}

ul.lst-kix_list_9-8 {
  list-style-type: none
}

ul.lst-kix_list_9-5 {
  list-style-type: none
}

ul.lst-kix_list_9-6 {
  list-style-type: none
}

ul.lst-kix_list_1-3 {
  list-style-type: none
}

ul.lst-kix_list_1-4 {
  list-style-type: none
}

ul.lst-kix_list_1-1 {
  list-style-type: none
}

ul.lst-kix_list_1-2 {
  list-style-type: none
}

ul.lst-kix_list_1-7 {
  list-style-type: none
}

ul.lst-kix_list_9-0 {
  list-style-type: none
}

ul.lst-kix_list_1-8 {
  list-style-type: none
}

ul.lst-kix_list_1-5 {
  list-style-type: none
}

ul.lst-kix_list_1-6 {
  list-style-type: none
}

.lst-kix_list_5-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_5-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_5-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_5-1 > li:before {
  content: "o  "
}

.lst-kix_list_5-7 > li:before {
  content: "o  "
}

ul.lst-kix_list_8-4 {
  list-style-type: none
}

ul.lst-kix_list_8-5 {
  list-style-type: none
}

.lst-kix_list_5-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_5-8 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_8-2 {
  list-style-type: none
}

ul.lst-kix_list_8-3 {
  list-style-type: none
}

ul.lst-kix_list_8-8 {
  list-style-type: none
}

ul.lst-kix_list_8-6 {
  list-style-type: none
}

ul.lst-kix_list_8-7 {
  list-style-type: none
}

.lst-kix_list_5-4 > li:before {
  content: "o  "
}

.lst-kix_list_5-5 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_8-0 {
  list-style-type: none
}

ul.lst-kix_list_8-1 {
  list-style-type: none
}

.lst-kix_list_6-1 > li:before {
  content: "o  "
}

.lst-kix_list_6-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_6-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_6-4 > li:before {
  content: "o  "
}

.lst-kix_list_6-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_6-8 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_6-5 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_6-7 > li:before {
  content: "o  "
}

.lst-kix_list_6-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_2-7 > li:before {
  content: "o  "
}

.lst-kix_list_7-4 > li:before {
  content: "o  "
}

.lst-kix_list_7-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_2-5 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_7-2 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_3-7 {
  list-style-type: none
}

ul.lst-kix_list_3-8 {
  list-style-type: none
}

.lst-kix_list_10-1 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_3-1 {
  list-style-type: none
}

ul.lst-kix_list_3-2 {
  list-style-type: none
}

.lst-kix_list_7-8 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_3-0 {
  list-style-type: none
}

ul.lst-kix_list_3-5 {
  list-style-type: none
}

ul.lst-kix_list_3-6 {
  list-style-type: none
}

ul.lst-kix_list_3-3 {
  list-style-type: none
}

ul.lst-kix_list_3-4 {
  list-style-type: none
}

.lst-kix_list_10-7 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_10-5 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_10-3 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_4-1 > li:before {
  content: "o  "
}

.lst-kix_list_9-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_4-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_4-5 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_9-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_9-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_ebmb9zhg516r-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_list_9-4 > li:before {
  content: "o  "
}

.lst-kix_ebmb9zhg516r-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_ebmb9zhg516r-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_list_2-8 {
  list-style-type: none
}

ul.lst-kix_list_2-2 {
  list-style-type: none
}

ul.lst-kix_list_2-3 {
  list-style-type: none
}

ul.lst-kix_list_2-0 {
  list-style-type: none
}

ul.lst-kix_list_2-1 {
  list-style-type: none
}

.lst-kix_list_9-8 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_2-6 {
  list-style-type: none
}

.lst-kix_list_1-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_list_2-7 {
  list-style-type: none
}

ul.lst-kix_list_2-4 {
  list-style-type: none
}

ul.lst-kix_list_2-5 {
  list-style-type: none
}

ul.lst-kix_list_10-0 {
  list-style-type: none
}

.lst-kix_list_1-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_10-8 {
  list-style-type: none
}

ul.lst-kix_list_10-7 {
  list-style-type: none
}

.lst-kix_list_1-7 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_list_10-6 {
  list-style-type: none
}

ul.lst-kix_list_10-5 {
  list-style-type: none
}

ul.lst-kix_list_10-4 {
  list-style-type: none
}

ul.lst-kix_list_10-3 {
  list-style-type: none
}

.lst-kix_list_1-5 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_list_10-2 {
  list-style-type: none
}

ul.lst-kix_list_10-1 {
  list-style-type: none
}

.lst-kix_list_2-1 > li:before {
  content: "o  "
}

.lst-kix_list_2-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_ebmb9zhg516r-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_list_3-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_5-7 {
  list-style-type: none
}

ul.lst-kix_list_5-8 {
  list-style-type: none
}

.lst-kix_list_3-1 > li:before {
  content: "o  "
}

.lst-kix_list_3-2 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_5-5 {
  list-style-type: none
}

ul.lst-kix_list_5-6 {
  list-style-type: none
}

.lst-kix_list_8-1 > li:before {
  content: "o  "
}

.lst-kix_list_8-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_3-5 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_5-0 {
  list-style-type: none
}

.lst-kix_list_3-4 > li:before {
  content: "o  "
}

ul.lst-kix_list_5-3 {
  list-style-type: none
}

.lst-kix_list_3-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_5-4 {
  list-style-type: none
}

ul.lst-kix_list_5-1 {
  list-style-type: none
}

.lst-kix_list_8-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_5-2 {
  list-style-type: none
}

.lst-kix_list_8-7 > li:before {
  content: "o  "
}

.lst-kix_list_3-8 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_8-5 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_8-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_8-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_3-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_3-7 > li:before {
  content: "o  "
}

.lst-kix_list_8-4 > li:before {
  content: "o  "
}

.lst-kix_list_8-8 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_4-8 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_4-7 > li:before {
  content: "o  "
}

ul.lst-kix_list_4-8 {
  list-style-type: none
}

ul.lst-kix_list_4-6 {
  list-style-type: none
}

ul.lst-kix_list_4-7 {
  list-style-type: none
}

ul.lst-kix_list_4-0 {
  list-style-type: none
}

ul.lst-kix_list_4-1 {
  list-style-type: none
}

ul.lst-kix_list_4-4 {
  list-style-type: none
}

ul.lst-kix_list_4-5 {
  list-style-type: none
}

ul.lst-kix_list_4-2 {
  list-style-type: none
}

ul.lst-kix_list_4-3 {
  list-style-type: none
}

.lst-kix_list_7-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_2-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_2-4 > li:before {
  content: "o  "
}

.lst-kix_list_2-8 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_7-1 > li:before {
  content: "o  "
}

.lst-kix_list_7-5 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_7-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_7-5 {
  list-style-type: none
}

.lst-kix_list_10-0 > li:before {
  content: "  "
}

ul.lst-kix_list_7-6 {
  list-style-type: none
}

ul.lst-kix_list_7-3 {
  list-style-type: none
}

ul.lst-kix_list_7-4 {
  list-style-type: none
}

ul.lst-kix_list_7-7 {
  list-style-type: none
}

ul.lst-kix_list_7-8 {
  list-style-type: none
}

ul.lst-kix_list_7-1 {
  list-style-type: none
}

ul.lst-kix_list_7-2 {
  list-style-type: none
}

ul.lst-kix_list_7-0 {
  list-style-type: none
}

.lst-kix_list_7-7 > li:before {
  content: "o  "
}

ul.lst-kix_ebmb9zhg516r-0 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-2 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-1 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-4 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-3 {
  list-style-type: none
}

.lst-kix_list_10-4 > li:before {
  content: "\01f8ad   "
}

.lst-kix_list_10-8 > li:before {
  content: "\01f8ad   "
}

ul.lst-kix_ebmb9zhg516r-6 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-5 {
  list-style-type: none
}

.lst-kix_list_4-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_10-2 > li:before {
  content: "o  "
}

.lst-kix_list_4-4 > li:before {
  content: "o  "
}

.lst-kix_list_4-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_list_4-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_9-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_ebmb9zhg516r-8 {
  list-style-type: none
}

ul.lst-kix_ebmb9zhg516r-7 {
  list-style-type: none
}

.lst-kix_list_10-6 > li:before {
  content: "o  "
}

.lst-kix_list_9-1 > li:before {
  content: "o  "
}

.lst-kix_ebmb9zhg516r-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_list_9-7 > li:before {
  content: "o  "
}

.lst-kix_ebmb9zhg516r-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_list_9-5 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_6-6 {
  list-style-type: none
}

ul.lst-kix_list_6-7 {
  list-style-type: none
}

ul.lst-kix_list_6-4 {
  list-style-type: none
}

.lst-kix_ebmb9zhg516r-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_ebmb9zhg516r-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_list_6-5 {
  list-style-type: none
}

ul.lst-kix_list_6-8 {
  list-style-type: none
}

.lst-kix_list_1-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_list_6-2 {
  list-style-type: none
}

ul.lst-kix_list_6-3 {
  list-style-type: none
}

.lst-kix_list_1-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_list_6-0 {
  list-style-type: none
}

ul.lst-kix_list_6-1 {
  list-style-type: none
}

.lst-kix_list_1-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_list_1-6 > li:before {
  content: "\0025cf   "
}

li.li-bullet-0:before {
  margin-left: -9pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 9pt
}

.lst-kix_list_2-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_1-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_list_2-2 > li:before {
  content: "\0025aa   "
}

.lst-kix_ebmb9zhg516r-6 > li:before {
  content: "\0025cf   "
}

ol {
  margin: 0;
  padding: 0
}

table td, table th {
  padding: 0
}

.c12 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 18pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c4 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 132pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c37 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 256.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c61 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 67.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c52 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 546pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c56 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 18pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c6 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 256.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c41 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 256.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c58 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 67.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c25 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 157.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c65 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 546pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c0 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 67.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c43 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 132pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c38 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 157.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c17 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 67.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c15 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 132pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c34 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 171pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c46 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 132pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c39 {
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  vertical-align: top;
  border-bottom-width: 1pt;
  width: 546pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c11 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 18pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c26 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 171pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c66 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 132pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c13 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 171pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c2 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 157.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c51 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 546pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c35 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 171pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c14 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 67.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c57 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 171pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c22 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 18pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c5 {
  margin-left: 21.6pt;
  padding-top: 0pt;
  padding-left: -9pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c20 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Calibri";
  font-style: normal
}

.c18 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Calibri";
  font-style: normal
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal
}

.c45 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 3pt;
  font-family: "Calibri";
  font-style: normal
}

.c23 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times New Roman";
  font-style: normal
}

.c40 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 9pt;
  font-family: "Calibri"
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: right;
  height: 12pt
}

.c10 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal
}

.c47 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 7pt;
  font-family: "Calibri";
  font-style: normal
}

.c19 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c33 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: right
}

.c28 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left;
  height: 12pt
}

.c8 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
  height: 12pt
}

.c48 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: center
}

.c3 {
  margin-left: -5.4pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto
}

.c49 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: center
}

.c24 {
  font-size: 11pt;
  font-family: "Calibri";
  font-weight: 700
}

.c63 {
  font-size: 18pt;
  font-family: "Calibri";
  font-weight: 700
}

.c59 {
  background-color: #ffffff;
}

.c31 {
  font-size: 11pt;
  font-family: "Calibri";
  font-weight: 400
}

.c32 {
  color: inherit;
  text-decoration: inherit
}

.c44 {
  padding: 0;
  margin: 0
}

.c21 {
  margin-left: 22.5pt;
  padding-left: -9pt
}

.c55 {
  height: 10.5pt
}

.c64 {
  height: 6.3pt
}

.c60 {
  height: 34.6pt
}

.c62 {
  margin-left: 36pt
}

.c30 {
  height: 12pt
}

.c42 {
  margin-left: 12.6pt
}

.c53 {
  height: 0pt
}

.c54 {
  background-color: #ff0000
}

.c50 {
  height: 3.5pt
}

.c27 {
  page-break-after: avoid
}

.c29 {
  height: 14.2pt
}

.c36 {
  height: 27.6pt
}

.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1.0;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 12pt;
  font-family: "Times New Roman"
}

p {
  margin: 0;
  color: #000000;
  font-size: 12pt;
  font-family: "Times New Roman"
}

h1 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 16pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: right
}

h3 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center
}

h4 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h5 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
