{
  "openapi": "3.0.0",
  "info": {
    "title": "NextRole API",
    "description": "NextRole API Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nextrole.app",
      "description": "Prod"
    },
    {
      "url": "http://localhost:9090",
      "description": "Dev"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user profile",
        "description": "Get user profile or create one if it doesn't exist",
        "operationId": "getUserprofile",
        "responses": {
          "200": {
            "description": "Get user profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionUser"
                }
              }
            }
          }
        }
      }
    },
    "/user/token-exchange": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Exchange token",
        "description": "Exchange a short-lived Firebase token for a long-lived, self-signed token",
        "operationId": "exchangeToken",
        "responses": {
          "200": {
            "description": "Get user profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionUser"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/convert": {
      "post": {
        "tags": [
          "pdf"
        ],
        "summary": "Convert html to PDF",
        "description": "Convert html to PDF",
        "operationId": "convertToPdf",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/style": {
      "post": {
        "tags": [
          "pdf"
        ],
        "summary": "Save css styling for an html template",
        "description": "Save css styling for an html template",
        "operationId": "saveStyle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveStyleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resume": {
      "get": {
        "tags": [
          "resume"
        ],
        "summary": "Get resume by ID",
        "operationId": "getResume",
        "parameters": [
          {
            "name": "resume_id",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Resume Data Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeData"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "resume"
        ],
        "summary": "Upload user resume",
        "description": "Upload user resume",
        "operationId": "uploadResume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "resume"
        ],
        "summary": "Update user resume",
        "description": "Update user resume",
        "operationId": "updateResume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resumes": {
      "get": {
        "tags": [
          "resume"
        ],
        "summary": "Get all resumes",
        "operationId": "getAllResumes",
        "responses": {
          "200": {
            "description": "Resume List Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeList"
                }
              }
            }
          }
        }
      }
    },
    "/resume/template-id": {
      "put": {
        "tags": [
          "resume"
        ],
        "summary": "Update template ID",
        "description": "Update template ID",
        "operationId": "updateTemplateId",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeTemplateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ResumeList": {
        "type": "object",
        "properties": {
          "resumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResumeMetaData"
            }
          }
        }
      },
      "ResumeMetaData": {
        "type": "object",
        "properties": {
          "resume_id": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "company_logo": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResumeData": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          }
        }
      },
      "ResumeTemplateUpdateRequest": {
        "type": "object",
        "properties": {
          "resume_id": {
            "type": "string"
          },
          "new_template_id": {
            "type": "string"
          }
        }
      },
      "ResumeUpdateRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "additionalProperties": true
          }
        }
      },
      "ResumeUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "object"
          }
        }
      },
      "GenericResponse":  {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "SaveStyleRequest":  {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "payload": {
            "type": "array",
            "items": {
              "additionalProperties": {}
            }
          }
        }
      },
      "PdfGenerateRequest":  {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "debug": {
            "type": "boolean"
          }
        }
      },
      "SessionUser":  {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "anonymous": {
            "type": "boolean"
          },
          "token": {
            "type": "string"
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        }
      }
    }
  }
}
