{
  "openapi": "3.0.0",
  "info": {
    "title": "NextRole API",
    "description": "NextRole API Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nextrole.app",
      "description": "Prod"
    },
    {
      "url": "http://localhost:9090",
      "description": "Dev"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user profile",
        "description": "Get user profile or create one if it doesn't exist",
        "operationId": "getUserprofile",
        "responses": {
          "200": {
            "description": "Get user profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionUser"
                }
              }
            }
          }
        }
      }
    },
    "/user/token-exchange": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Exchange token",
        "description": "Exchange a short-lived Firebase token for a long-lived, self-signed token",
        "operationId": "exchangeToken",
        "responses": {
          "200": {
            "description": "Get user profile response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionUser"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/convert": {
      "post": {
        "tags": [
          "pdf"
        ],
        "summary": "Convert html to PDF",
        "description": "Convert html to PDF",
        "operationId": "convertToPdf",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/pdf/style": {
      "post": {
        "tags": [
          "pdf"
        ],
        "summary": "Save css styling for an html template",
        "description": "Save css styling for an html template",
        "operationId": "saveStyle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveStyleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "GenericResponse":  {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "SaveStyleRequest":  {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "payload": {
            "type": "array",
            "items": {
              "additionalProperties": {}
            }
          }
        }
      },
      "PdfGenerateRequest":  {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "debug": {
            "type": "boolean"
          }
        }
      },
      "SessionUser":  {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "anonymous": {
            "type": "boolean"
          },
          "token": {
            "type": "string"
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        }
      }
    }
  }
}
